/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  color: rgb(53, 49, 49);
}

table,
td,
th,
tr {
  border: 1px solid #000;
  /* Độ dày và màu sắc viền */
  border-collapse: collapse;
  /* Để tránh lỗ hổng giữa các ô */
}

td {
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

blockquote {
  background-color: #f0f0f0; /* Màu nền */
  border-left: 4px solid #888; /* Viền bên trái */
  margin: 10px 0; /* Khoảng cách trên và dưới */
  padding: 10px; /* Khoảng cách bên trong */
  font-style: italic; /* In nghiêng văn bản */
}


/* import font google */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* set font for html tag  */
html {
  font-family: "Roboto", sans-serif !important;
}

ul {
  padding: 0;
  margin: 0px;
}

.row {
  height: inherit;
}

img {
  width: inherit;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

/* RESPONSIVE  */
@media screen and (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  li,
  a{
    font-size: 0.7rem !important;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  li,
  a {
    font-size: 0.8rem !important;
  }
}
